:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  --bg_color: #f9f9f9;
}
html {
  background: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}
ul {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
